@use "../abstracts/variables" as *;

.navbar-toggler.collapsed {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler.collapsed:focus,
.navbar-toggler-icon:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  font-weight: 500;
  position: relative;

  &.active,
  &:focus {
    color: $primary-light;
  }

  @media (min-width: 992px) {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: $primary-light;
      visibility: hidden;
      transition: 0.3s ease-in-out;
    }

    &:hover::before,
    &:active::before {
      width: 100%;
      visibility: visible;
    }
  }

  @media (max-width: 991px) {
    &::before {
      content: none;
    }

    &:hover,
    &:active {
      color: #f3b807;
    }
  }
}
