@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.scroll-bg {
  transition: background-color 0.3s ease;
  [data-bs-theme="dark"] & {
    background-color: $text-light !important;
  }
  [data-bs-theme="light"] & {
    background-color: $text-dark !important;
  }
}

.navbar-toggler.collapsed {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler.collapsed:focus,
.navbar-toggler-icon:focus {
  box-shadow: none;
  outline: none;
}

.offcanvas {
  background-color: $seccondary-light !important;
  @media (max-width: 991px) {
    .btn-close {
      &.active,
      &:focus {
        color: $primary-dark;
        box-shadow: none;
        outline: none;
  }
    }
    .offcanvas-body {
      padding-top: px-to-rem(40px);

      .nav-collaps {
        @include flex (center, center);
        gap: 1rem;
      }

      .nav-link {
        &:focus{
          color: $primary-dark;
        }
      }

      .ms-auto {
        margin-top: px-to-rem(20px);
        width: 100%;
        @include flex (center, center);
        gap: 1rem;
      }
    }
  }
}

.nav-link {
  font-weight: 500;
  position: relative;

  &.active,
  &:focus {
    color: $primary-light;
  }

  @media (min-width: 992px) {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: $primary-light;
      visibility: hidden;
      transition: 0.3s ease-in-out;
    }

    &:hover::before,
    &:active::before {
      width: 100%;
      visibility: visible;
    }
  }
}
