.text-gradient {
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
            #f5f2ec 0.89%,
            #efe2bb 17.23%,
            #f1d788 42.04%,
            #f3cf63 55.12%,
            #f5c534 71.54%,
            #f3b807 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.bg-black-gradient {
    background: radial-gradient(circle,
            rgba(255, 255, 255, 1) -600%,
            rgba(3, 3, 3, 1) 100%);
}

@media (min-width: 576px) {
    html[data-bs-theme='light'] .bg-face-web {
        background: url('/me.jpeg') center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    html[data-bs-theme='dark'] .bg-face-web {
        background: url('/bg.jpg') center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 575px) {
    html[data-bs-theme='dark'] .bg-face-mobile {
        background: url('/bg.jpg') center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    html[data-bs-theme='light'] .bg-face-mobile {
        background: url('/bg.jpg') center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

html[data-bs-theme='light'] .tech-icon {
    filter: invert(100%);
}

html[data-bs-theme='dark'] .tech-icon {
    filter: invert(0%);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    font-weight: 500;
    position: relative;
}

.nav-link.active,
.nav-link:focus {
    color: #f3b807;
}

@media (min-width: 992px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #f3b807;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link:active::before {
        width: 100%;
        visibility: visible;
    }
}

@media (max-width: 991px) {
    .nav-link::before {
        content: none;
    }

    .nav-link:hover,
    .nav-link:active {
        color: #f3b807;
    }
}

.tech-icon {
    width: 1.6rem;
    height: 1.6rem;
}

.social-icon {
    color: #f3b807;
    opacity: 0.5;
    transition: opacity 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.social-icon:hover {
    opacity: 1;
}

.pulsating-button {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(245, 197, 24, 0.5);
    }
    70% {
        box-shadow: 0 0 20px 10px rgba(245, 197, 24, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(245, 197, 24, 0);
    }
}
